@media screen and (max-width: 1440px) {
	.container {
		padding-left: 20px;
		padding-top: 20px;
	}

	.header__h1 {
		font-size: 40px;
	}

	.header__h2 {
		max-width: 500px;
		font-size: 25px;
	}

	.promotion {
		margin-top: -220px;
	}

	.aside__h1 {
		font-size: 35px;
	}

	.services__item {
		margin-right: 20px;
	}

	.services__h1 {
		font-size: 35px;
	}

	.services__item h2 {
		font-size: 20px;
	}

	.services__item p {
		font-size: 15px;
	}

	.about__h1 {
		font-size: 35px;
	}

	.about__img img {
		margin-top: 75px;
	}

	.slider__h1 {
		font-size: 35px;
	}

	.questions__h1 {
		font-size: 35px;
	}

	.toggle h1 {
		font-size: 25px;
	}

	.container__acordeon {
		width: 1200px;
		margin: 0 auto;
		padding-top: 30px;
	}

	.questions {
		height: 900px;
	}

	.footer {
		height: 145px;
	}

	.footer__right-a {
		margin-right: 20px;
	}
}


@media screen and (max-width: 1024px) {
	.services {
		height: 575px;
	}

	.header {
		height: 700px;
	}

	.header__h1 {
		font-size: 30px;
	}

	.header__p p {
		font-size: 18px;
	}

	.header__h p {
		font-size: 18px;
	}

	.header__img img {
		max-width: 500px;
	}

	.header__btn {
		width: 220px;
		height: 40px;
		font-size: 20px;
	}

	.services__block {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 2px;
	}

	.services__item {
		width: 250px;
		height: 180px;
	}

	.about__block {
		gap: 25px;
	}

	.about__title h3 {
		max-width: 580px;
		font-size: 15px;
	}

	.container__acordeon {
		width: 900px;
	}
}

@media screen and (max-width: 768px) {
	.menu {
		display: none;
	}

	.header__img img {
		width: 350px;
	}

	.promotion {
		width: 700px;
		margin-top: -155px;
	}

	.aside__h1 {
		font-size: 35px;
		margin-top: 110px;
	}

	.iside__items h2 {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 18px;
		margin-top: -30px;
	}

	.services__block {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2px;
		justify-items: center;
	}

	.services__item p {
		display: none;
	}

	.services__item {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 250px;
		height: 100px;
	}

	.container__acordeon {
		width: 550px;
	}

	.toggle h1 {
		font-size: 18px;
	}

	.content p {
		font-size: 16px;
	}

}


@media screen and (max-width: 425px) {
	.header {
		height: 600px;
	}

	.header__h1 {
		text-align: center;
		margin-right: 24px;
	}

	.header__h2 {
		font-size: 20px;
		text-align: center;
		margin-right: 30px;
	}

	.header__img img {
		display: none;
	}

	.header__h {
		margin-right: 35px;
	}

	.header__btn {
		margin-left: 80px;
	}

	.promotion {
		display: flex;
		flex-direction: column;
		margin-top: -135px;
		width: 400px;
		margin-right: 22px;
		height: 80px;
	}

	.promo__h1 {
		font-size: 18px;
	}

	.promo__btn {
		width: 160px;
		height: 30px;
		margin-top: -10px;
	}

	.aside {
		height: 415px;
	}

	.aside__h1 {
		font-size: 24px;
		margin-top: 45px;
	}

	.aside__item {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		justify-content: center;
		margin-right: 10px;
	}

	.iside__items h2 {
		font-size: 14px;
		justify-content: flex-start;
	}

	.iside__items p {
		font-size: 12px;
		justify-content: flex-start;
	}

	.services__h1 {
		font-size: 24px;
	}

	.services__block {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.services__item {
		width: 150px;
	}

	.services__item h2 {
		font-size: 16px;
	}

	.about__h1 {
		font-size: 24px;
	}

	.about__img img {
		display: none;
	}

	.about__title {
		margin-right: 35px;
	}

	.slider {
		width: 320px;
		margin-top: 50px;
		margin-right: 53px;
	}

	.slider__h1 {
		font-size: 24px;
	}

	.slider__item_text {
		font-size: 10px;
	}

	.questions {
		height: 720px;
	}

	.questions__h1 {
		font-size: 24px;
	}

	.container__acordeon {
		max-width: 320px;
	}

	.toggle h1 {
		font-size: 9px;
	}

	.content p {
		font-size: 8px;
		line-height: 10px;
	}

	.footer {
		height: 90px;
	}

	.footer__left-h2 {
		font-size: 12px;
	}

	.footer__left-p {
		font-size: 12px;
		margin-top: -9px;
	}

	.footer__center a {
		font-size: 12px;
		margin-right: 8px;
	}

	.footer__center p {
		font-size: 12px;
		margin-right: 6px;
	}

	.footer__icon img {
		width: 20px;
	}

	.footer__right-a {
		font-size: 12px;
	}
}


@media screen and (max-width: 425px) {
	.logo h1 {
		font-size: 20px;
	}

	.logo p {
		font-size: 16px;
	}

	.contact__tel {
		font-size: 16px;
	}

	.soc__icon img {
		width: 15px;
	}

	.contact__a {
		font-size: 14px;
	}

	.header__p p {
		font-size: 14px;
	}

	.header__h p {
		font-size: 14px;
	}

	.header__btn {
		width: 170px;
	}

	.promotion {
		width: 280px;
		margin-top: -110px;
	}

	.aside{
		height: 355px;
	}

	.aside__h1 {
		margin-top: 15px;
	}

	.iside__items h2 {
		font-size: 12px;
	}
	.iside__items p {
		margin-top: -8px;
	}

	.services__block{
		justify-content: center;
	}

	.about__title h3{
		font-size: 10px;
	}
	.about{
		height: 400px;
	}

	.container__acordeon{
		margin-right: 28px;
	}
}

@media screen and (max-width: 320px) {
	.header__p p{
		font-size: 10px;
	}
	.header__p img{
		width: 30px;
	}
	.header__h p{
		font-size: 10px;
	}
	.header__h img{
		width: 30px;
	}

	.header__btn {
		width: 150px;
		margin-left: 68px;
	}

	.promotion{
		margin-top: -140px;
	}

	.promo__btn{
		width: 135px;
	}

	.services__item{
		width: 100px;
	}
	.services__item h2{
		font-size: 12px;
	}

	.about__title h3{
		font-size: 9px;
	}

	.slider{
		width: 290px;
	}
	.slider__items{
		width: 280px;
	}

	.slider__control{
		display: none;
	}

	.slider__item_text{
		font-size: 8px;
	}

	.container__acordeon{
		width: 280px;
	}

	.wrapper{
		padding: 5px;
	}

	.toggle{
		padding: 2px;
	}
	.questions{
		height: 450px;
	}

	.footer {
		height: 70px;
	}

	.footer__left-h2 {
		font-size: 8px;
	}

	.footer__left-p {
		font-size: 8px;
		margin-top: -9px;
	}

	.footer__center a {
		font-size: 8px;
		margin-right: 8px;
	}

	.footer__center p {
		font-size: 8px;
		margin-right: 6px;
	}

	.footer__icon img {
		width: 10px;
	}

	.footer__right-a {
		font-size: 8px;
	}
}