.modal__forma {


    a:not(.btn) {
        text-align: center;
        display: block;
        margin-top: 2em;
        color: #333;

        &:hover {
            color: #666;
        }
    }
}

.modal-window {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;

    &:target {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }

    .modal-backdrop {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.5);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;
    }

    .modal {
        width: 20rem;
        padding: 2em;
        background-color: #51D1DD;;
        position: relative;
        box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.25);
        border-radius: 0.5rem;
    }

    .modal-close {
        color: #aaa;
        font-size: 80%;
        position: absolute;
        right: 0;
        top: -28px;
        text-align: center;
        text-decoration: none;
        margin: 0;
        padding: 0.25rem 0.5rem;
    }
}

.btn {
    appearance: none;
    display: inline-block;
    font-size: inherit;
    color: inherit;
    background: #000000;
    text-decoration: none;
    border: solid 1px #000000;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin: 0 auto;
    min-width: 5rem;
    max-width: 10rem;
    cursor: pointer;

    &:hover,
    &:focus {
        background: rgba(256, 256, 256, 0.5);
    }
}


/* Стили формы */

.modal__h1 {
    font-family: "Oswald", sans-serif;
    text-align: center;
    font-size: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.name {
    font-family: "Oswald", sans-serif;
    width: 300px;
    height: 40px;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

.phone {
    font-family: "Oswald", sans-serif;
    width: 300px;
    height: 40px;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

.form__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Oswald", sans-serif;
    width: 320px;
    height: 60px;
    padding: 10px;
    font-size: 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: aqua;
    font-size: 30px;
    cursor: pointer;
}

.form p{
    font-family: "Oswald", sans-serif;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .modal{
        width: 12rem !important;
        height: 300px;
    }
    .modal__h1{
        font-size: 15px;
    }

    .name{
        width: 180px;
        height: 30px;
    }
    .phone{
        width: 180px;
        height: 30px;
    }

    .form__btn{
        width: 200px;
        height: 40px;
        font-size: 20px;
    }

    .form p{
        font-size: 8px;
    }
}
